@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Roboto:400,400italic,500,500italic,300italic,700,300,700italic);

form input[type="submit"] {
  @include button($button-tny) ;
}

.header{
  width:100%; 
  background: #f7f7f7;
  padding:20px 0;
  display: inline-block;
  border: 10px solid #C13A02;
}

.logo{
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 50px;
  float: right;
  color: #C13A02;
}

.container{
  width: 860px;
  margin:auto;
  margin-top:25px;
}

.flash-outer{
  width:100%;
  text-align:center;
  margin-top:20px;
  line-height:45px;
  color: white;
}

.alert{
  background: #f70000;
}

.notice{
  background: #00a53c;
}

ul.devise_links{
  margin: 20px auto;
  display: inline-block;
  li{
    float:left;
    list-style: none;  
    margin: 0;
    padding:5px;
    margin-right: 5px;
  }

}

.header-right-links{
  float: right; 
  display: inline-block;
  ul{
    margin-top: 20px;
    margin-right: 50px;
    list-style: none;
    li{
      padding-left: 50px;
      float: left;  
      font-size: 17px;
      a, a:hover, a:visited, a:active{
        color: black;
        font-size: 17px;
      }
    }
  }
}

.header-left-links{
  float: left; 
}

table{
  width: 100%;
  border-spacing: 0;
  border: 0;
  border-bottom: 25px solid #E1D5BA;
  thead{
    background: #E1D5BA;
    td{
      font-weight: 500;
    }
  }
  tbody{
    td{
      font-size: 18px;
    }
    tr:nth-of-type(even) {
      background: white;
    }
    tr:nth-child(4n-1) {
      background: #F9F9F9;
    }
    .javascript-container{
      display: none;
      font-family: "Courier New";
      border: 40px solid #f7f7f7;
      padding: 40px;
    }

  }
}
